<h1>{{title}}</h1>

<input type="text" name="" id="srch" [(ngModel)]="searchInput" (keydown.enter) = "search()">
<button type="button" name="" id="" class="btn btn-primary" btn-lg btn-block  (click)="search()">Buscar Productos</button>
<div *ngIf="searchInput.length > 0">
    <small>Buscando: {{searchInput}}</small>
</div>

<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" name="" id="" [(ngModel)] = "checkOnlyExistence">
    Solo en existencia
  </label>
</div>

<div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name="" id="" [(ngModel)] = "checkOrder" (change) = "order()">
      Ordenar por precio (menor a mayor)
    </label>
</div>

<div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name="" id="" [(ngModel)] = "checkExistence">
      Resaltar existencia mayor a 3
    </label>
  </div>

<div  *ngFor="let p of findings">
    <app-productos *ngIf="!checkOnlyExistence || p.existencia > 0" [prod] = "p" [exist] = "checkExistence"></app-productos>
</div>

<div id="Error" *ngIf="findings.length === 0">
    Ningún producto concuerda con la búsqueda
</div>
